@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --background-color: #ccf1fe;
    --primary-color: #f9f9f9;
    --secondary-color: red;
    --text-color: #070606;
    --shadow-color: #3c3d3f38;
    --button-shadow: rgba(230, 216, 135, 0.628);
    --header-shadow: rgba(32, 37, 38, 0.292);
}

[theme="dark"]{
    --background-color:#070606;
    --primary-color: #f9f9f9;
    --secondary-color: rgb(248, 178, 178);
    --text-color: #ccf1fe;
    --shadow-color: #d7d9df38;
    --button-shadow: #cbf1ff;
    --header-shadow: rgba(156, 239, 238, 0.34);
}
body{
    background-color: var(--background-color);
}

main{
    margin: 48px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80%;
}
section{
    width:100%;
    margin-bottom: 24px;
}



.header{
    font-family: 'Lato', sans-serif;
    font-size: calc(1.25rem + 1vw);
    font-weight: 700;
    text-shadow: 0em 0.1em 4px var(--header-shadow);
    color: var(--text-color);
    margin: 0;
    margin-top: 24px;
    margin-bottom: 24px;
}

label{
    align-self: center;
    margin-left: 10px;
    font-size: 16px;
    width: 15%;
}

.searchbar--form{
    background-color:var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: calc(2rem + 1vw);
    cursor: pointer;
    box-shadow: var(--shadow-color) 0px 2px 2px 0px;
    border-radius: 10px;
}
.searchbar--input{
    border: none;
    padding-left: 16px;
    margin-left: 8px;
    width: 60%;
    font-size: 16px;
}

.searchbar--button{
    border: none;
    text-align: center;
    width: 20%;
    background-color: transparent;
    cursor: pointer;
}

.weatherStats{
    background-color:var(--primary-color);
    width:100%;
    margin-top: 24px;
    padding: 8px 0;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--shadow-color) 0px 2px 2px 0px;
}

.weatherStats--type{
    font-size: calc(3rem + 1vw);
}

.hidden{
    display: none;
}

.errMessage{
    width: 80%;
    font-size: calc(0.70rem + 1vw);
    color: var(--secondary-color);
    margin: 8px auto;
    text-align: center;
}


.weatherStats--day{
    box-shadow: #3c3d3f38 0px 2px 2px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4
    0vh;
}

.weatherStats--wind{
    font-size: 14px;
    margin-bottom: 12px;
}

.weatherStats--type{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherStats--temp{
    margin: 8px 0;
    font-size: 18px;
}

.weatherStats--day:last-child{
    box-shadow: none;
}
.footer{
    color: var(--text-color);
    text-align: center;
}



.toggleDark{
    background-color: var(--background-color);
    color: var(--text-color);
    width: calc(2em + 1vw);
    height: calc(1.5rem + 1vw);
    border-radius: 50%;
    border: none;
    box-shadow: var(--button-shadow) 2px 2px 2px 5px;
    position: absolute;
    top: 8px;
    right: 5%;
    cursor: pointer;
}

.toggleDark:active{
    background-color: var(--text-color);
    color:var(--background-color);
}

@media screen and (min-width: 600px) {

    .weatherStats--container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 8px auto;
    }
    
    .weatherStats--day{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
    }

    .toggleDark:hover{
        background-color: var(--button-shadow);
        color:var(--background-color);
    }

    .footer{
        position: absolute;
        bottom: 8px;
    }

    
}

